/* --------
*   FORM
---------- */
#ee-control .ee-c-return {
    text-align: start;
}
#ee-control .ee-c-form .ee-c-submit {
    align-self: flex-end;
    display: flex;
    gap: 10px;
}
#ee-control .ee-c-form .ee-c-submit .material-symbols-outlined{
    align-self: flex-end;
    text-align: center;
    width: 50px;
    border: solid transparent;
    background-color: var(--shadow-color);
}
#ee-control .ee-c-form .ee-c-submit .material-symbols-outlined:hover{
    border: solid var(--side-font-color);
}