* {
    --padding-lr-control: 20px;
    --padding-tb-list-control: 5px;
    --padding-tb-form-control: 15px;
    /* border all radius */
    --bar-control: 10px;
}
#ee-control {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: var(--bar-control);
    border: solid var(--side-font-color);
}
#ee-control .section-title{
    padding: 15px var(--padding-lr-control);
    display: flex;
    justify-content: space-between;
}
#ee-control .ee-c-add{
    margin: 10px;
    width: 100px;
    text-align: center;
    align-self: center;
    border: solid transparent;
    border-radius: var(--bar-control);
    background-color: var(--shadow-color);
}
#ee-control .ee-c-add:hover{
    border: solid var(--side-font-color);
}
/*********
*   LIST
**********/
#ee-control .ee-c-entry {
    padding: var(--padding-tb-list-control) var(--padding-lr-control);
    border: 1px solid var(--side-font-color);
    margin: -1px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
#ee-control .ee-c-info {
    display: flex;
    flex-direction: column;
}
#ee-control .ee-c-tools {
    align-self: center;
    display: flex;
    gap: 10px;
}
/**********
*   FORM
**********/
#ee-control .ee-c-form {
    display: flex;
    flex-direction: column;
    padding: var(--padding-tb-form-control) var(--padding-lr-control);
    gap: 10px;
    border-top: solid var(--side-font-color);
}
#ee-control .ee-c-return {
    text-align: start;
}
#ee-control .ee-c-form .ee-c-date {
    display: flex;
    gap: 50px;
}
#ee-control .ee-c-form label {
    display: flex;
    flex-direction: column;
    flex: 2;
}
#ee-control .ee-c-form label>span{
    color: var(--side-font-color);
}
#ee-control .ee-c-form .ee-c-submit {
    align-self: flex-end;
    display: flex;
    gap: 10px;
}
#ee-control .ee-c-form .ee-c-submit .material-symbols-outlined{
    align-self: flex-end;
    text-align: center;
    width: 50px;
    border: solid transparent;
    background-color: var(--shadow-color);
}
#ee-control .ee-c-form .ee-c-submit .material-symbols-outlined:hover{
    border: solid var(--side-font-color);
}