* {
  --padding-lr-control: 20px;
  --padding-tb-list-control: 5px;
  --padding-tb-form-control: 25px;
  /* border all radius */
  --bar-control: 10px;
  --bar-panel: 17px;
  --side-font-color: rgb(111, 111, 111);
  --shadow-color: rgb(235, 235, 235);
  --bgc-body: #c5c5c5;
  --bgc-panel: white;
  --accent-color: rgb(88, 225, 200);
  --accent-color-opaque: rgba(88, 225, 200, 0.7);
  --required-color: rgb(223, 40, 40);
  --recommended-font-color: rgb(164, 164, 164);
  --side-nav-color: #1d1d1d;
  --section-padding: 20px;
  --root-margin-lr: 20px;
  --root-margin-tb: 30px;
  --transition-time-fast: 250ms;
  --transition-time-slow: 500ms;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--bgc-body);
}
#root {
  margin: var(--root-margin-tb) var(--root-margin-lr);
  width: calc(100vw - 2 * var(--root-margin-lr));
  height: calc(100vh - 2 * var(--root-margin-tb));
  background-color: var(--background-color);
  font-family: sans-serif;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 10px 0px;
  font-weight: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
button {
  border: var(--side-font-color) 1px solid;
  background-color: transparent;
  border-radius: var(--bar-control);
  text-align: center;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  cursor: pointer;
}
button.material-symbols-outlined,
span.material-symbols-outlined {
  border: none;
  font-variation-settings:
    'FILL' 0,
    'wght' 250,
    'GRAD' -25,
    'opsz' 20;
  transition: background-color var(--transition-time-fast) ease-out;
}
button.material-symbols-outlined:hover {
  background-color: var(--accent-color);
}
