* {
    --padding-lr-control: 20px;
    --padding-tb-list-control: 5px;
    --padding-tb-form-control: 15px;
    /* border all radius */
    --bar-control: 10px;
}

/* ----------
    CONTROL
------------ */
section.control {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: var(--bar-control);
    border: solid var(--side-font-color);
}
section.control .collapsible-title {
    padding: 15px var(--padding-lr-control);
    display: flex;
    justify-content: space-between;
}
section.control form {
    padding: var(--padding-tb-form-control) var(--padding-lr-control);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: solid var(--side-font-color);
}
section.control form label>span{
    color: var(--side-font-color);
}
section.control form label {
    display: flex;
    flex-direction: column;
    flex: 1;
}
section.control form > div{
    display: flex;
    gap: 50px;
}
section.control .content {
    display: flex;
    flex-direction: column;
}