* {
  --padding-lr-control: 20px;
  --padding-tb-list-control: 5px;
  --padding-tb-form-control: 15px;
  /* border all radius */
  --bar-control: 10px;
  --side-font-color: rgb(111, 111, 111);
  --shadow-color: rgb(235, 235, 235);
  --accent-color: rgb(88, 225, 200);
}
section#control-panel {
  min-width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
input {
  padding: 10px;
  border-radius: var(--bar-control);
  /* border: none; */
  border: 2px solid var(--shadow-color);
}

/* ----------
    CONTROL
------------ */
section.control-element {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: var(--bar-control);
  border: solid var(--side-font-color);
}
section.control-element .collapsible .title {
  padding: 15px var(--padding-lr-control);
  display: flex;
  justify-content: space-between;
}
section.control-element .content {
  display: flex;
  flex-direction: column;
}
