* {
    --padding-lr-control: 20px;
    --padding-tb-list-control: 5px;
    --padding-tb-form-control: 15px;
    /* border all radius */
    --bar-control: 10px;
}

/* ----------
    CONTROL
------------ */
section.control {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: var(--bar-control);
    border: solid var(--side-font-color);
}
section.control .collapsible-title {
    padding: 15px var(--padding-lr-control);
    display: flex;
    justify-content: space-between;
}
section.control .content {
    display: flex;
    flex-direction: column;
}
section.control .content form {
    padding: var(--padding-tb-form-control) var(--padding-lr-control);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: solid var(--side-font-color);
}
section.control .content form label>span{
    color: var(--side-font-color);
}
section.control .content form label {
    display: flex;
    flex-direction: column;
    flex: 1;
}
section.control .content form > div{
    display: flex;
    gap: 50px;
}

/* list view of education and work */
section.control .content .c-entry {
    padding: var(--padding-tb-list-control) var(--padding-lr-control);
    border: 1px solid var(--side-font-color);
    margin: -1px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
section.control .content .ee-c-info {
    display: flex;
    flex-direction: column;
}
section.control .content .c-entry-tools {
    align-self: center;
    display: flex;
    gap: 10px;
}
section.control .content .add-entry{
    margin: 10px;
    width: 100px;
    text-align: center;
    align-self: center;
    border: solid transparent;
    border-radius: var(--bar-control);
    background-color: var(--shadow-color);
}
section.control .content .add-entry:hover{
    border: solid var(--side-font-color);
}